/.vscode
/perso

/client/logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*
/client/node_modules
/client/dist
/client/dist-ssr
/client/*.local
/client/.idea
/client/.DS_Store
/client/*.suo
/client//client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?
/client/package-lock.json

/server/node_modules
/server/package-lock.json
/server/.env
/server/resources/photos/*
!/server/resources/photos/default.jpg
